@CHARSET "UTF-8";
@import url('../reset.css');
@import url('layout.css');
@import url('../header.css');
/* -------------------------Common Style---------------------------------- */
.hidden{
	display: none;
}



body{
	font-family: 돋움, Arial, sans-serif;
	font-size: 11px;
	color : #979797;
}

.hidden{
   display: none;
}

.margin{
   margin-top:10px;   
}

.aside-margin{
   margin-top:45px;
}

.main-margin{
   margin-top:49px;
}
/* --------------------------VIsual Style--------------------------------- */

/* --------------------------Aside Style--------------------------------- */
/* #aside>h1{
	font-family: 맑은 고딕, 고딕, sans-serif;
	font-size : 24px;
	color : #000;
	font-weight: bold;
	margin-top: 43px;
}

#aside nav h1{
	font-family: 맑은 고딕, 고딕, sans-serif;
	font-size : 13px;
	color : #000;
	font-weight: bold;
	padding-left: 26px;
	background: url("../../images/icon-recommend.png")	no-repeat left center; 
}

#aside>h1:first-child+nav li a{
   font-family: 맑은 고딕, 고딕, sans-serif;
    font-weight: bold;
    color: #808080;
    padding-left: 26px;
    text-decoration: none;
}
 */
#aside h1:first-child+nav li a:hover{
   background: url("../../images/icon-current.png") no-repeat 15px center;

 }


/* #aside>h1:first-child{
	margin-top: 45px;
} */

.aside-title {
   font-family: 맑은 고딕, 고딕, sans-serif;
   font-size: 13px;
   font-weight:bold;
   color: #000;
   padding-left: 26px;
   background: url("../images/icon-recommend.png") no-repeat left center;
}

.aside-main-title {
   font-size: 24px; 
   padding-left: 0px;
   background :none;
}

.aside-menu-item {
   background: url("../images/bg-aside-menu-hsp.png") repeat-x left bottom;
   height: 26px;
   line-height: 26px;
}

.aside-menu-item-link{
   font-family: 맑은 고딕, 고딕, sans-serif;
    font-weight: bold;
    color: #808080;
    padding-left: 26px;
    text-decoration: none;
}

/* ------------------------------------------------------------------------ */

.main-title {
    font-family: 맑은 고딕, 고딕, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #646464;
    padding-left: 25px;
    background: url(../../images/icon-main-title.png) no-repeat left center;
}

.breadcrumb{
   display: inline-block;
   position : absolute;
   top:45px;
   right : 0px;
}

.breadcrumb ul{
   overflow: auto;
}

.breadcrumb li{
    float: left;
    padding-left: 10px;
    background: url(../../images/icon-path.png) no-repeat left center;
}

.breadcrumb li:first-child{
   padding-left: 20px;
    background: url(../../images/icon-home.png) no-repeat left center;
}

.btn{
   display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;   
    touch-action: manipulation;
    cursor: pointer; 
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
   
}

.btn-search{
   color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

notice{
   
}

.table{
   border-top: 2px solid #8cba34;
   width: 100%;
}

.table tr{
   height: 30px;   
}


.table td{   
   border-bottom: 1px solid #e9e9e9;
   text-align: center;
}



.table thead td{
   background: #f5f5f5 url(../../images/bg-title-sp.png) no-repeat left center;
}

.table thead td:first-child{
	background: #f5f5f5;
}

.notice-table{
   
}

.table tbody td:nth-child(2){
	text-align: left;
	text-indent : 5px;
}


