<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newlecture.web.data.dao.LanguageDao">
   <select id="getLanguagesOfLecture" resultType="com.newlecture.web.data.entity.Language">
	   	SELECT L.NAME, L.CODE, L.VERSION
		FROM LECTURE_LANGUAGE LL
		INNER JOIN LECTURE T
		ON LL.LECTURE_CODE = T.CODE
		INNER JOIN LANGUAGE L
		ON LL.LANGUAGE_CODE = L.CODE
		WHERE T.CODE=#{lectureCode};
   </select>
   
   <select id="getList" resultType="com.newlecture.web.data.entity.Language">
   SELECT `LANGUAGE`.`CODE`,
    `LANGUAGE`.`NAME`
   FROM `newlecture`.`LANGUAGE`
   </select>
   <select id="get" resultType="com.newlecture.web.data.entity.Language">
   SELECT `LANGUAGE`.`CODE`,
    `LANGUAGE`.`NAME`
   FROM `newlecture`.`LANGUAGE` WHERE CODE=#{code}
   </select>
   
   
    <insert id="add" parameterType="com.newlecture.web.data.entity.Language">
       <selectKey order="BEFORE" keyProperty="code" resultType="String">
         select max(cast(code as unsigned))+1 Code from Language
      </selectKey>
      INSERT INTO `newlecture`.`LANGUAGE`
      (
      `CODE`,
      `NAME`
      )
      VALUES
      ( 
      	#{code},
        #{name}
      )
   </insert>
   
   <update id="update" parameterType="com.newlecture.web.data.entity.Language">
      UPDATE `newlecture`.`LANGUAGE`
      SET
      `NAME` = #{name}
      WHERE `CODE` = #{code}
   </update>

   <delete id="delete">
      DELETE FROM `newlecture`.`LANGUAGE` 
      WHERE CODE=#{code}   
   </delete>
</mapper>