<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlecture.web.data.dao.LecturePlatformDao">

   <select id="getList" resultType="com.newlecture.web.data.entity.LecturePlatform">
		SELECT `LECTURE_PLATFORM`.`CODE`,
		    `LECTURE_PLATFORM`.`NAME`,
		    `LECTURE_PLATFORM`.`VER_CODE`,
		    `LECTURE_PLATFORM`.`VER`,
		    `LECTURE_PLATFORM`.`LECTURE_CODE`,
		    `LECTURE_PLATFORM`.`PLATFORM_VER_CODE`
		FROM `newlecture`.`LECTURE_PLATFORM`
   </select>
   
   <select id="get" resultType="com.newlecture.web.data.entity.LecturePlatform">
		SELECT `LECTURE_PLATFORM`.`CODE`,
		    `LECTURE_PLATFORM`.`NAME`,
		    `LECTURE_PLATFORM`.`VER_CODE`,
		    `LECTURE_PLATFORM`.`VER`,
		    `LECTURE_PLATFORM`.`LECTURE_CODE`,
		    `LECTURE_PLATFORM`.`PLATFORM_VER_CODE`
		FROM `newlecture`.`LECTURE_PLATFORM`
		WHERE CODE=#{code}
   </select>

   <insert id="add" parameterType="com.newlecture.web.data.entity.LecturePlatform">
      <selectKey order="BEFORE" keyProperty="code" resultType="String">
         SELECT MAX(CAST(CODE AS UNSIGNED))+1 CODE 
         FROM `newlecture`.`LECTURE_PLATFORM`
      </selectKey>
		INSERT INTO `newlecture`.`LECTURE_PLATFORM`
		(`CODE`,
		`NAME`,
		`VER_CODE`,
		`VER`,
		`LECTURE_CODE`,
		`PLATFORM_VER_CODE`)
		VALUES
		(#{code},
		#{name},
		#{verCode},
		#{ver},
		#{lectureCode},
		#{platformVerCode})
   </insert>
   
   <update id="update" parameterType="com.newlecture.web.data.entity.LecturePlatform">
		UPDATE `newlecture`.`LECTURE_PLATFORM`
		SET
		`CODE` = #{code},
		`NAME` = #{name},
		`VER_CODE` = #{verCode},
		`VER` = #{ver},
		`LECTURE_CODE` = #{lectureCode},
		`PLATFORM_VER_CODE` = #{platformVerCode}
		WHERE `CODE` = #{code}
   </update>
   
   <delete id="delete" >
      DELETE FROM `newlecture`.`LECTURE_PLATFORM`
      WHERE #{code}
   </delete>
   
</mapper>