<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newlecture.web.data.dao.NoticeDao">
 	<select id="getList" resultType="com.newlecture.web.data.view.NoticeView">
		SELECT * 
		FROM NOTICE_VIEW 
		WHERE BINARY ${param2} LIKE '%${param3}%'  
		LIMIT 0,10
	</select>
	<!-- $는 ''가 오지 않고, #은 자동으로 ''가 들어간다. -->
	
	<select id="getSize">
		SELECT COUNT(CODE) SIZE 
		FROM NOTICE 
		WHERE BINARY ${param1} LIKE '%${param2}%'
	</select>
	
 	<select id="get" resultType="com.newlecture.web.data.view.NoticeView">
		SELECT * 
		FROM NOTICE_VIEW 
		WHERE CODE= #{code}
	</select>

	<select id="getPrev">
		SELECT * 
		FROM NOTICE_VIEW 
		WHERE CAST(CODE AS unsigned) &gt; CAST(#{code} AS unsigned) 
		ORDER BY REGDATE asc 
		LIMIT ${()param1-1)*10},10
	</select>
	
	<select id="getNext">
		SELECT * 
		FROM NOTICE_VIEW 
		WHERE CAST(CODE AS unsigned) &lt; CAST(#{code} AS unsigned) 
		ORDER BY REGDATE DESC LIMIT 0,1	
	</select>
	
	<select id="lastCode" resultType="String">
		SELECT MAX(CAST(CODE AS UNSIGNED)) CODE 
		FROM NOTICE
	</select>
	
	<delete id="delete">
		DELETE FROM NOTICE WHERE CODE=#{code}
	</delete>
	
	<!-- 객체를 전달받았을 때 사용법 -> el표기법과 비슷하다. -->
	<!-- getter 가져오는 el표기법과 유사함. -->
	
	<update id="update">
		UPDATE NOTICE 
		SET TITLE=#{title}, CONTENT=#{content} 
		WHERE CODE=#{code}
	</update>
	
	<insert id="add">
		<selectKey order="BEFORE" keyProperty="code" resultType="String">
			SELECT MAX(CAST(CODE AS UNSIGNED))+1 CODE 
			FROM NOTICE
		</selectKey>
		INSERT INTO NOTICE(CODE, TITLE, WRITER, CONTENT) 
		VALUES (#{code},#{title},#{writer},#{content})
	</insert>

	
	
	
</mapper>