<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="../member-reg" method="post">
	<table border="1">
      <tr>
         <th><label>아이디</label></th>
         <td><input type="text"  name ="id"/></td>
      </tr>
      <tr>
         <th><label>비밀번호</label></th>
         <td><input type="password"  name="pwd"/></td>
      </tr>
      <tr>
         <th><label>비밀번호 확인</label></th>
         <td><input type="password"  name="pwd-check"/></td>
      </tr>
      <tr>
         <th><label>이름</label></th>
         <td><input type="text"  name="name" /></td>
      </tr>
      <tr>
         <th><label>취미</label></th>
         <td>
	         <input type="checkbox"  name="hobbies"  value="game"/>
	         <label>게임</label>
		     <input type="checkbox"  name="hobbies"  value="coding"/>
	         <label>코딩</label>
	         <input type="checkbox"  name="hobbies"  value="sleep"/>
	         <label>잠</label>
       </td>    
      </tr>
       <tr>
         <th><label>취미선택</label></th>
         <td>
	         <select name="hobby">
	         	<option value="game">게임</option>
	         	<option value="coding">코딩</option>
	         	<option value="sleep">잠</option>	         	
	         </select>
       </td>    
      </tr>
      <tr>
         <td colspan="2"><input type="submit" value="확인" /></td>
      </tr>
   </table>
   </form>
	
</body>
</html>